* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(https://t4.ftcdn.net/jpg/05/71/83/47/360_F_571834789_ujYbUnH190iUokdDhZq7GXeTBRgqYVwa.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}


h1 {
    margin-bottom: 20px;
    font-size: 40px;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.4);
}


button {
    font-size: 40px;
    padding: 15px;
    margin: 10px;
    width: 90px;
    border: none;
    cursor: pointer;
    border-radius: 15px;
    background: white;
    transition: 0.3s;
}

button:hover {
    transform: scale(1.15);
    background: #f1f1f1;
}

#result {
    margin-top: 25px;
    font-size: 28px;
    font-weight: bold;
    min-height: 40px;
}


#score {
    margin-top: 15px;
    font-size: 22px;
}

